src/_00/output/
src/_04/output/
src/_05/output/files/
src/_08/output/
src/_10/output/
src/_11/output/
src/_15/output/*/*_born.csv
src/_15/output/*/*_become.csv
src/_15/output/*/*_flex.csv
src/_15/output/*/*_no_longer.csv
# output/
# !src/_01/output/
# !src/_02/output/
# !src/_03/output/

__pycache__/

scripts_files/
scripts.html
scripts.ipynb
